@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    color: white;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    background-image: url('https://wallpapersmug.com/download/1920x1080/9a98ac/blue-dark-pattern-huawei-p30.jpg'); /* Replace with your image URL */
    background-size: cover; /* Make the background image cover the entire area */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

h1 {
  font-weight: 700;
  font-size: 100px;
  text-align: center;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(51,51,51,0.5);
    backdrop-filter: blur(10px); /* Blurs the background */
    color: #fff;
    border-radius: 100px;
}

.content {
    display: inline-block; /* Adjusts width to fit content */
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(10px); /* Blurs the background */
    color: #fff;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

.topbar .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.topbar .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.topbar .nav-menu ul li {
    margin: 0 15px;
}

.topbar .nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.topbar .nav-menu ul li a:hover {
    color: #ff6600; /* Example hover color */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .topbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .topbar .nav-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .topbar .nav-menu ul li {
        margin: 10px 0;
    }
}
